<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Salient.StackExchange.Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="System.Data.SqlClient" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <!--<add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.2.0" description="MySql ADO.Net Provider"/>
      <add name="System.Data.SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.65.0" description="SQLite ADO.Net Provider"/>-->
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <Salient.StackExchange.Import.Properties.Settings>
      <setting name="SourceValue" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetText" serializeAs="String">
        <value />
      </setting>
      <setting name="SplitChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndicesChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FullTextChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProviderName" serializeAs="String">
        <value>System.Data.SQLite</value>
      </setting>
      <setting name="FKChecked" serializeAs="String">
        <value>False</value>
      </setting>
    </Salient.StackExchange.Import.Properties.Settings>
  </userSettings>
  <startup/>
</configuration>
